# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Buckland_Chapter7 to 10_Raven/Raven___Win32_boundschecker
/Buckland_Chapter7 to 10_Raven/.idea/.idea.Raven/.idea
